In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
booksdf=pd.read_csv('Goodreads_BestBooksEver_1-10000.csv')

In [3]:
bdf=booksdf.copy()

In [4]:
bdf.head()

,url,bookTitle,bookImage,bookAuthors,bookDesc,bookRating,ratingCount,reviewCount,bookPages,bookGenres,bookISBN,recommendations
0,https://www.goodreads.com/book/show/2767052-th...,The Hunger Games,https://i.gr-assets.com/images/S/compressed.ph...,Suzanne Collins,"Could you survive on your own in the wild, wit...",4.32,6717635,176054,374 pages,"Young Adult/31,498|Fiction/17,878|Science Fict...",9.780439e+12,"['Divergent (Divergent, #1)|https://www.goodre..."
1,https://www.goodreads.com/book/show/2.Harry_Po...,Harry Potter and the Order of the Phoenix,https://i.gr-assets.com/images/S/compressed.ph...,"J.K. Rowling,Mary GrandPré",There is a door at the end of a silent corrido...,4.50,2668409,45724,870 pages,"Fantasy/1,797|Young Adult/15,961|Fiction/14,15...",NaN,['Harry Potter and the Cursed Child: Parts One...
2,https://www.goodreads.com/book/show/2657.To_Ki...,To Kill a Mockingbird,https://i.gr-assets.com/images/S/compressed.ph...,Harper Lee,The unforgettable novel of a childhood in a sl...,4.28,4772918,95595,324 pages,"Classics/47,203|Fiction/23,575|Historical-Hist...",NaN,['The Great Gatsby|https://www.goodreads.com/b...
3,https://www.goodreads.com/book/show/1885.Pride...,Pride and Prejudice,https://i.gr-assets.com/images/S/compressed.ph...,"Jane Austen,Anna Quindlen",Alternate cover edition of ISBN 9780679783268S...,4.27,3206070,74020,279 pages,"Classics/52,699|Fiction/15,730|Romance/12,874|...",NaN,['Jane Eyre|https://www.goodreads.com/book/sho...
4,https://www.goodreads.com/book/show/41865.Twil...,Twilight,https://i.gr-assets.com/images/S/compressed.ph...,Stephenie Meyer,About three things I was absolutely positive.F...,3.61,5231000,107619,501 pages,"Young Adult/19,982|Fantasy/19,312|Romance/12,0...",9.780316e+12,"['The Hunger Games (The Hunger Games, #1)|http..."

In [5]:
bdf=bdf.dropna()

In [6]:
bdfc=bdf[['bookISBN','bookTitle','bookAuthors','bookDesc','bookGenres']]

In [7]:
bdf['FirstAuthor'] = bdfc['bookAuthors'].str.split(',').str[0]

In [8]:
bdf = bdf.reset_index(drop=True)

In [9]:
bdfc = bdfc.reset_index(drop=True)

In [10]:
bdf['FirstAuthor'][:4]

0    Suzanne Collins
1    Stephenie Meyer
2       Markus Zusak
3      George Orwell
Name: FirstAuthor, dtype: object

In [54]:
import pickle
pickle.dump(bdf,open("d:/bookrecmodel/dataframeog1","wb"))

In [12]:
bdf.drop('url',axis=1,inplace=True)

In [13]:
bdf.head()

,bookTitle,bookImage,bookAuthors,bookDesc,bookRating,ratingCount,reviewCount,bookPages,bookGenres,bookISBN,recommendations,FirstAuthor
0,The Hunger Games,https://i.gr-assets.com/images/S/compressed.ph...,Suzanne Collins,"Could you survive on your own in the wild, wit...",4.32,6717635,176054,374 pages,"Young Adult/31,498|Fiction/17,878|Science Fict...",9.780439e+12,"['Divergent (Divergent, #1)|https://www.goodre...",Suzanne Collins
1,Twilight,https://i.gr-assets.com/images/S/compressed.ph...,Stephenie Meyer,About three things I was absolutely positive.F...,3.61,5231000,107619,501 pages,"Young Adult/19,982|Fantasy/19,312|Romance/12,0...",9.780316e+12,"['The Hunger Games (The Hunger Games, #1)|http...",Stephenie Meyer
2,The Book Thief,https://i.gr-assets.com/images/S/compressed.ph...,Markus Zusak,Librarian's note: An alternate cover edition c...,4.38,1954165,117307,552 pages,"Historical-Historical Fiction/20,161|Fiction/1...",9.780376e+12,['All the Light We Cannot See|https://www.good...,Markus Zusak
3,Animal Farm,https://i.gr-assets.com/images/S/compressed.ph...,"George Orwell,Boris Grabnar,Celâl Üster,Celâl ...",George Orwell's timeless and timely allegorica...,3.96,2926888,61574,122 pages,"Classics/34,158|Fiction/19,552|Science Fiction...",9.780452e+12,['The Great Gatsby|https://www.goodreads.com/b...,George Orwell
4,The Chronicles of Narnia,https://i.gr-assets.com/images/S/compressed.ph...,"C.S. Lewis,Pauline Baynes",Librarian note: An alternate cover for this ed...,4.26,548649,10743,767 pages,"Fantasy/11,823|Classics/4,396|Fiction/3,903|Yo...",9.780066e+12,['J.R.R. Tolkien 4-Book Boxed Set: The Hobbit ...,C.S. Lewis

In [14]:
bdfc.head()

,bookISBN,bookTitle,bookAuthors,bookDesc,bookGenres
0,9.780439e+12,The Hunger Games,Suzanne Collins,"Could you survive on your own in the wild, wit...","Young Adult/31,498|Fiction/17,878|Science Fict..."
1,9.780316e+12,Twilight,Stephenie Meyer,About three things I was absolutely positive.F...,"Young Adult/19,982|Fantasy/19,312|Romance/12,0..."
2,9.780376e+12,The Book Thief,Markus Zusak,Librarian's note: An alternate cover edition c...,"Historical-Historical Fiction/20,161|Fiction/1..."
3,9.780452e+12,Animal Farm,"George Orwell,Boris Grabnar,Celâl Üster,Celâl ...",George Orwell's timeless and timely allegorica...,"Classics/34,158|Fiction/19,552|Science Fiction..."
4,9.780066e+12,The Chronicles of Narnia,"C.S. Lewis,Pauline Baynes",Librarian note: An alternate cover for this ed...,"Fantasy/11,823|Classics/4,396|Fiction/3,903|Yo..."

In [15]:
bdfc['bookGenres'].iloc[3]

'Classics/34,158|Fiction/19,552|Science Fiction-Dystopia/3,918|Fantasy/3,207|Literature/2,798|Politics/2,664|Academic-School/2,459|Science Fiction/2,021|Novels/1,762|Academic-Read For School/1,051'

In [16]:
bdfc['bookGenres'].iloc[3]

'Classics/34,158|Fiction/19,552|Science Fiction-Dystopia/3,918|Fantasy/3,207|Literature/2,798|Politics/2,664|Academic-School/2,459|Science Fiction/2,021|Novels/1,762|Academic-Read For School/1,051'

In [17]:
bdfc.head(2)

,bookISBN,bookTitle,bookAuthors,bookDesc,bookGenres
0,9.780439e+12,The Hunger Games,Suzanne Collins,"Could you survive on your own in the wild, wit...","Young Adult/31,498|Fiction/17,878|Science Fict..."
1,9.780316e+12,Twilight,Stephenie Meyer,About three things I was absolutely positive.F...,"Young Adult/19,982|Fantasy/19,312|Romance/12,0..."

In [18]:
# Function to extract the first three genres from a string
def extract_first_three_genres(genres_string):
    if isinstance(genres_string, float):
        return ''  # Return an empty string for float values
    
    genres_list = genres_string.split('|')[:3]
    return '|'.join(genres_list)

# Apply the function to the 'bookGenres' column
bdfc['FirstThreeGenres'] = bdfc['bookGenres'].apply(extract_first_three_genres)

# Display the modified DataFrame
bdfc.head(2)

,bookISBN,bookTitle,bookAuthors,bookDesc,bookGenres,FirstThreeGenres
0,9.780439e+12,The Hunger Games,Suzanne Collins,"Could you survive on your own in the wild, wit...","Young Adult/31,498|Fiction/17,878|Science Fict...","Young Adult/31,498|Fiction/17,878|Science Fict..."
1,9.780316e+12,Twilight,Stephenie Meyer,About three things I was absolutely positive.F...,"Young Adult/19,982|Fantasy/19,312|Romance/12,0...","Young Adult/19,982|Fantasy/19,312|Romance/12,011"

In [19]:
bdfc['FirstThreeGenres'].loc[3]

'Classics/34,158|Fiction/19,552|Science Fiction-Dystopia/3,918'

In [20]:
# Function to extract only the genre names from the first three genres
def extract_first_three_genre_names(genres_string):
    if isinstance(genres_string, float):
        return ''  # Return an empty string for float values
    
    genres_list = genres_string.split('|')[:3]
    genre_names = [genre.split('/')[0] for genre in genres_list]
    
    return ', '.join(genre_names)

# Apply the function to the 'bookGenres' column
bdfc['FirstThreeGenreNames'] = bdfc['bookGenres'].apply(extract_first_three_genre_names)

# Display the modified DataFrame
bdfc.head(2)

,bookISBN,bookTitle,bookAuthors,bookDesc,bookGenres,FirstThreeGenres,FirstThreeGenreNames
0,9.780439e+12,The Hunger Games,Suzanne Collins,"Could you survive on your own in the wild, wit...","Young Adult/31,498|Fiction/17,878|Science Fict...","Young Adult/31,498|Fiction/17,878|Science Fict...","Young Adult, Fiction, Science Fiction-Dystopia"
1,9.780316e+12,Twilight,Stephenie Meyer,About three things I was absolutely positive.F...,"Young Adult/19,982|Fantasy/19,312|Romance/12,0...","Young Adult/19,982|Fantasy/19,312|Romance/12,011","Young Adult, Fantasy, Romance"

In [21]:
# Remove spaces from bookAuthors and bookGenres columns
bdfc['bookAuthors'] = bdfc['bookAuthors'].str.replace(' ', '')

In [22]:
bdfc['ClnGenres'] = bdfc['FirstThreeGenreNames'].apply(
    lambda x: ', '.join([genre.split('/')[0].replace(' ', '') for genre in x.split('|')[:3]]) if not isinstance(x, float) else ''
)

In [23]:
bdfc.drop(['FirstThreeGenreNames','FirstThreeGenres','bookGenres'],axis=1,inplace=True)

In [24]:
bdfc.head(5)

,bookISBN,bookTitle,bookAuthors,bookDesc,ClnGenres
0,9.780439e+12,The Hunger Games,SuzanneCollins,"Could you survive on your own in the wild, wit...","YoungAdult,Fiction,ScienceFiction-Dystopia"
1,9.780316e+12,Twilight,StephenieMeyer,About three things I was absolutely positive.F...,"YoungAdult,Fantasy,Romance"
2,9.780376e+12,The Book Thief,MarkusZusak,Librarian's note: An alternate cover edition c...,"Historical-HistoricalFiction,Fiction,YoungAdult"
3,9.780452e+12,Animal Farm,"GeorgeOrwell,BorisGrabnar,CelâlÜster,CelâlÜstü...",George Orwell's timeless and timely allegorica...,"Classics,Fiction,ScienceFiction-Dystopia"
4,9.780066e+12,The Chronicles of Narnia,"C.S.Lewis,PaulineBaynes",Librarian note: An alternate cover for this ed...,"Fantasy,Classics,Fiction"

In [25]:
# Extract the part before the first comma in 'bookAuthors'
bdfc['CleanedAuthors'] = bdfc['bookAuthors'].str.split(',').str[0]

In [26]:
bdfc.head()

,bookISBN,bookTitle,bookAuthors,bookDesc,ClnGenres,CleanedAuthors
0,9.780439e+12,The Hunger Games,SuzanneCollins,"Could you survive on your own in the wild, wit...","YoungAdult,Fiction,ScienceFiction-Dystopia",SuzanneCollins
1,9.780316e+12,Twilight,StephenieMeyer,About three things I was absolutely positive.F...,"YoungAdult,Fantasy,Romance",StephenieMeyer
2,9.780376e+12,The Book Thief,MarkusZusak,Librarian's note: An alternate cover edition c...,"Historical-HistoricalFiction,Fiction,YoungAdult",MarkusZusak
3,9.780452e+12,Animal Farm,"GeorgeOrwell,BorisGrabnar,CelâlÜster,CelâlÜstü...",George Orwell's timeless and timely allegorica...,"Classics,Fiction,ScienceFiction-Dystopia",GeorgeOrwell
4,9.780066e+12,The Chronicles of Narnia,"C.S.Lewis,PaulineBaynes",Librarian note: An alternate cover for this ed...,"Fantasy,Classics,Fiction",C.S.Lewis

In [27]:
bdfc.drop(['bookAuthors'],axis=1,inplace=True)

In [28]:
bdfc.head()

,bookISBN,bookTitle,bookDesc,ClnGenres,CleanedAuthors
0,9.780439e+12,The Hunger Games,"Could you survive on your own in the wild, wit...","YoungAdult,Fiction,ScienceFiction-Dystopia",SuzanneCollins
1,9.780316e+12,Twilight,About three things I was absolutely positive.F...,"YoungAdult,Fantasy,Romance",StephenieMeyer
2,9.780376e+12,The Book Thief,Librarian's note: An alternate cover edition c...,"Historical-HistoricalFiction,Fiction,YoungAdult",MarkusZusak
3,9.780452e+12,Animal Farm,George Orwell's timeless and timely allegorica...,"Classics,Fiction,ScienceFiction-Dystopia",GeorgeOrwell
4,9.780066e+12,The Chronicles of Narnia,Librarian note: An alternate cover for this ed...,"Fantasy,Classics,Fiction",C.S.Lewis

In [29]:

bdfc['Desc'] = bdfc['bookDesc'].apply(lambda x: x.split() if isinstance(x, str) else [])


# Display the modified DataFrame
bdfc.head()

,bookISBN,bookTitle,bookDesc,ClnGenres,CleanedAuthors,Desc
0,9.780439e+12,The Hunger Games,"Could you survive on your own in the wild, wit...","YoungAdult,Fiction,ScienceFiction-Dystopia",SuzanneCollins,"[Could, you, survive, on, your, own, in, the, ..."
1,9.780316e+12,Twilight,About three things I was absolutely positive.F...,"YoungAdult,Fantasy,Romance",StephenieMeyer,"[About, three, things, I, was, absolutely, pos..."
2,9.780376e+12,The Book Thief,Librarian's note: An alternate cover edition c...,"Historical-HistoricalFiction,Fiction,YoungAdult",MarkusZusak,"[Librarian's, note:, An, alternate, cover, edi..."
3,9.780452e+12,Animal Farm,George Orwell's timeless and timely allegorica...,"Classics,Fiction,ScienceFiction-Dystopia",GeorgeOrwell,"[George, Orwell's, timeless, and, timely, alle..."
4,9.780066e+12,The Chronicles of Narnia,Librarian note: An alternate cover for this ed...,"Fantasy,Classics,Fiction",C.S.Lewis,"[Librarian, note:, An, alternate, cover, for, ..."

In [30]:
bdfc['Author']=bdfc['CleanedAuthors'].apply(lambda x: [x])

In [31]:
bdfc.drop(['CleanedAuthors','bookDesc'],axis=1,inplace=True)

In [32]:
bdfc['ClGenres']=bdfc['ClnGenres'].apply(lambda x: [x])

In [33]:
bdfc.drop('ClnGenres',axis=1,inplace=True)
bdfc.head(2)

,bookISBN,bookTitle,Desc,Author,ClGenres
0,9.780439e+12,The Hunger Games,"[Could, you, survive, on, your, own, in, the, ...",[SuzanneCollins],"[YoungAdult,Fiction,ScienceFiction-Dystopia]"
1,9.780316e+12,Twilight,"[About, three, things, I, was, absolutely, pos...",[StephenieMeyer],"[YoungAdult,Fantasy,Romance]"

In [34]:
bdfc['fulltag']=bdfc['ClGenres']+bdfc['Desc']+bdfc['Author']
bdfc.head()

,bookISBN,bookTitle,Desc,Author,ClGenres,fulltag
0,9.780439e+12,The Hunger Games,"[Could, you, survive, on, your, own, in, the, ...",[SuzanneCollins],"[YoungAdult,Fiction,ScienceFiction-Dystopia]","[YoungAdult,Fiction,ScienceFiction-Dystopia, C..."
1,9.780316e+12,Twilight,"[About, three, things, I, was, absolutely, pos...",[StephenieMeyer],"[YoungAdult,Fantasy,Romance]","[YoungAdult,Fantasy,Romance, About, three, thi..."
2,9.780376e+12,The Book Thief,"[Librarian's, note:, An, alternate, cover, edi...",[MarkusZusak],"[Historical-HistoricalFiction,Fiction,YoungAdult]","[Historical-HistoricalFiction,Fiction,YoungAdu..."
3,9.780452e+12,Animal Farm,"[George, Orwell's, timeless, and, timely, alle...",[GeorgeOrwell],"[Classics,Fiction,ScienceFiction-Dystopia]","[Classics,Fiction,ScienceFiction-Dystopia, Geo..."
4,9.780066e+12,The Chronicles of Narnia,"[Librarian, note:, An, alternate, cover, for, ...",[C.S.Lewis],"[Fantasy,Classics,Fiction]","[Fantasy,Classics,Fiction, Librarian, note:, A..."

In [35]:
bdfc['fulltag'] = bdfc['fulltag'].apply(lambda x: " ".join(x))
bdfc.head()

,bookISBN,bookTitle,Desc,Author,ClGenres,fulltag
0,9.780439e+12,The Hunger Games,"[Could, you, survive, on, your, own, in, the, ...",[SuzanneCollins],"[YoungAdult,Fiction,ScienceFiction-Dystopia]","YoungAdult,Fiction,ScienceFiction-Dystopia Cou..."
1,9.780316e+12,Twilight,"[About, three, things, I, was, absolutely, pos...",[StephenieMeyer],"[YoungAdult,Fantasy,Romance]","YoungAdult,Fantasy,Romance About three things ..."
2,9.780376e+12,The Book Thief,"[Librarian's, note:, An, alternate, cover, edi...",[MarkusZusak],"[Historical-HistoricalFiction,Fiction,YoungAdult]","Historical-HistoricalFiction,Fiction,YoungAdul..."
3,9.780452e+12,Animal Farm,"[George, Orwell's, timeless, and, timely, alle...",[GeorgeOrwell],"[Classics,Fiction,ScienceFiction-Dystopia]","Classics,Fiction,ScienceFiction-Dystopia Georg..."
4,9.780066e+12,The Chronicles of Narnia,"[Librarian, note:, An, alternate, cover, for, ...",[C.S.Lewis],"[Fantasy,Classics,Fiction]","Fantasy,Classics,Fiction Librarian note: An al..."

In [36]:
finbd = bdfc.drop(columns=['ClGenres','Desc','Author',])
finbd.head()

,bookISBN,bookTitle,fulltag
0,9.780439e+12,The Hunger Games,"YoungAdult,Fiction,ScienceFiction-Dystopia Cou..."
1,9.780316e+12,Twilight,"YoungAdult,Fantasy,Romance About three things ..."
2,9.780376e+12,The Book Thief,"Historical-HistoricalFiction,Fiction,YoungAdul..."
3,9.780452e+12,Animal Farm,"Classics,Fiction,ScienceFiction-Dystopia Georg..."
4,9.780066e+12,The Chronicles of Narnia,"Fantasy,Classics,Fiction Librarian note: An al..."

In [37]:
len(finbd['fulltag'][0])

968

In [38]:
finbd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8316 entries, 0 to 8315
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   bookISBN   8316 non-null   float64
 1   bookTitle  8316 non-null   object
 2   fulltag    8316 non-null   object
dtypes: float64(1), object(2)
memory usage: 195.0+ KB

In [39]:
finbd.isna().sum()

bookISBN     0
bookTitle    0
fulltag      0
dtype: int64

In [40]:
finbd=finbd.dropna()

In [41]:
finbd = finbd.reset_index(drop=True)

In [42]:
finbd

,bookISBN,bookTitle,fulltag
0,9.780439e+12,The Hunger Games,"YoungAdult,Fiction,ScienceFiction-Dystopia Cou..."
1,9.780316e+12,Twilight,"YoungAdult,Fantasy,Romance About three things ..."
2,9.780376e+12,The Book Thief,"Historical-HistoricalFiction,Fiction,YoungAdul..."
3,9.780452e+12,Animal Farm,"Classics,Fiction,ScienceFiction-Dystopia Georg..."
4,9.780066e+12,The Chronicles of Narnia,"Fantasy,Classics,Fiction Librarian note: An al..."
...,...,...,...
8311,9.780785e+12,Civil War: A Marvel Comics Event,"SequentialArt-Comics,SequentialArt-GraphicNove..."
8312,9.781842e+12,Peter the Great: His Life and World,"History,Biography,Nonfiction Against the monum..."
8313,9.780064e+12,"Owl at Home (I Can Read, Level 2)","Childrens,Childrens-PictureBooks,Fiction Welco..."
8314,9.780386e+12,The People in the Trees,"Fiction,Historical-HistoricalFiction,MagicalRe..."
8315,9.788129e+12,Half Girlfriend,"Fiction,Romance,AsianLiterature-IndianLiteratu..."

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [44]:
vector = cv.fit_transform(finbd['fulltag']).toarray()

In [45]:
vector.shape

(8316, 5000)

In [46]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [47]:
similarity[0]

array([1.        , 0.09016696, 0.08240428, ..., 0.04819627, 0.02951407,
       0.08414891])

In [48]:
#def recommend(book):
 

#index = bdfc[bdfc['bookTitle'] == book].index[0]
 #   distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
  #  for i in distances[1:6]:
   #     print(bdfc.iloc[i[0]].bookTitle)

In [49]:
def recommend(book):
    index = finbd[finbd['bookTitle'] == book].index[0]
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    
    recommended_books = []
    author_names = []
    recommended_titles_set = set()  # To track unique recommended book titles
    recommendation_counter = 0  # To limit the recommendations to 5
    
    for i in distances[1:15]:
        title = finbd.iloc[i[0]].bookTitle
        if title not in recommended_titles_set and title!=book:
            recommended_books.append(title)
            author_names.append(bdf.iloc[i[0]].FirstAuthor)
            recommended_titles_set.add(title)
            recommendation_counter += 1
        
        if recommendation_counter == 5:
            break
    
    return recommended_books, author_names

In [53]:
book=input("Enter a book to get recommendations:")
recommended_books,author_names = recommend(book)
for idx, (book, author) in enumerate(zip(recommended_books, author_names), start=1):
        print(f"{idx}. {book} -{author}")

1. Catching Fire -Suzanne Collins
2. We Have Always Lived in the Castle -Shirley Jackson
3. Mockingjay -Suzanne Collins
4. Teardrop -Lauren Kate
5. Till The Last Breath -Durjoy Datta

In [51]:
import pickle

In [52]:
pickle.dump(finbd,open('/content/df','wb'))

FileNotFoundError: [Errno 2] No such file or directory: '/content/df'

In [ ]:
pickle.dump(similarity,open('/content/bookrecm.rar','wb'))